<main class="login-section">
    <h3>Change Password</h3>
        <form>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput [formControl]="oldPasswordFormControl" placeholder="Old Password">
                    <mat-error *ngIf="oldPasswordFormControl.hasError('email') && !oldPasswordFormControl.hasError('required')">
                        Please enter your old Password
                    </mat-error>
                    <mat-error *ngIf="oldPasswordFormControl.hasError('required')">
                        Old Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input type="email" matInput [formControl]="passwordFormControl" placeholder="New password">
                    <mat-error *ngIf="passwordFormControl.hasError('email') && !passwordFormControl.hasError('required')">
                        Please enter a new password
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input type="email" matInput [formControl]="passwordFormControl" placeholder="Repeat password">
                    <mat-error *ngIf="passwordFormControl.hasError('email') && !passwordFormControl.hasError('required')">
                        Please repeat your new password
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="example-button-row">
                <button mat-raised-button color="primary">ACCEPT</button>
                <button mat-raised-button color="accent" routerLink="/home-page/login">BACK</button>
            </div>
        </form>
</main>