<main class="login-section">
    <h3>Login</h3>
    <form>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input type="email" matInput [formControl]="loginFormControl" placeholder="User">
                <mat-error *ngIf="loginFormControl.hasError('email') && !loginFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginFormControl.hasError('required')">
                    User is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input type="email" matInput [formControl]="loginFormControl" placeholder="Password">
                <mat-error *ngIf="loginFormControl.hasError('email') && !loginFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit">ACCEPT</button>
            <button mat-raised-button color="accent" routerLink="/challenge">BACK</button>
        </div>
        <div class="form-group">
            <a class="create-account" routerLink="/register">Sign in</a>
        </div>
    </form>
</main>