<main class="login-section">
    <h3>Register</h3>
        <form>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <!-- <mat-label>Enter your email</mat-label> -->
                    <input matInput placeholder="login">
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="password">
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="repeat password">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <div class="example-button-row">
                <button mat-raised-button color="primary">ACCEPT</button>
                <button mat-raised-button color="accent" routerLink="/login">BACK</button>
            </div>
        </form>
</main>